In [2]:
# Question 1: What's the version of Pandas that you installed?

import pandas as pd
pd.__version__

'0.24.2'

In [6]:
df = pd.read_csv('housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [8]:
# Question 2: How many columns are in the dataset?
# Question 3: Which columns in the dataset have missing values?

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [15]:
# Question 4: How many unique values does the ocean_proximity column have?

df['ocean_proximity'].nunique()

5

In [16]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [18]:
# Question 5: What's the average value of the median_house_value for the houses located near the bay?

df.groupby(df['ocean_proximity'] == 'NEAR BAY')['median_house_value'].mean()

ocean_proximity
False    200321.954605
True     259212.311790
Name: median_house_value, dtype: float64

In [22]:
# Question 6
# 1. Calculate the average of total_bedrooms column in the dataset.

total_bedrooms_avg = df['total_bedrooms'].mean()
total_bedrooms_avg

537.8705525375618

In [23]:
# 2. Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.

df['total_bedrooms'] = df['total_bedrooms'].fillna(total_bedrooms_avg)

In [24]:
# 3. Now, calculate the average of total_bedrooms again.
# 4. Has it changed? - No

df['total_bedrooms'].mean()

537.8705525375639

In [29]:
# Question 7
# 1. Select all the options located on islands.
# 2. Select only columns housing_median_age, total_rooms, total_bedrooms.
# 3. Get the underlying NumPy array. Let's call it X.

X = df[df['ocean_proximity'] == 'ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']]
X

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [30]:
# 4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

XTX = X.T @ X
XTX

                    housing_median_age  total_rooms  total_bedrooms
housing_median_age              9682.0     351053.0         91357.0
total_rooms                   351053.0   14399307.0       3772036.0
total_bedrooms                 91357.0    3772036.0        998358.0

In [31]:
import numpy as np

# 5. Compute the inverse of XTX.

XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [32]:
# 6. Create an array y with values [950, 1300, 800, 1000, 1300].

y = np.array([950, 1300, 800, 1000, 1300])
y

array([ 950, 1300,  800, 1000, 1300])

In [33]:
# 7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# 8. What's the value of the last element of w?

w = (XTX_inv @ X.T) @ y
w

0    23.123310
1    -1.481242
2     5.699229
dtype: float64